<figure>
    <img src="{{painting.webImage.url}}" alt="{{painting.title}}">
    <figcaption>{{painting.title}}</figcaption>
</figure>
<h3>{{painting.principalMaker}} - {{painting.id}}</h3>

<section class="information">
    <h2>{{painting.dating.presentingDate}}</h2>
    <p>{{painting.description}}</p>
    <p>{{painting.subTitle}}</p>
</section>

<section class="related">
<h2>Related paintings</h2>
    <ul>
        {{#each relatedArts}}
            <li class="loading">
                <a href="/art/{{objectNumber}}">
                    <img src="{{webImage.url}}" alt="{{title}}">
                </a>
            </li>
        {{/each}}
    </ul>
</section>